#logo {
    display: block;
    max-width: 300px;
    margin: 0 auto;
}
.topbar {
    height: 160px;
    background: url(../images/rps-bg.png) rgb(237,220,208);
    border-bottom: 5px inset rgb(116,88,67)
}
body {
    background: url(../images/rps-bg1.png);
}
.main-container {
    width: 968px;
    margin: 0 auto;
    background-color: rgba(255,255,255, 0.9);
    border: groove 3px rgb(76,49,49);
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px;
    min-height: 468px
}
#welcome {
    font-size: 50px;
    font-family: 'Cairo', sans-serif;
    text-align: center
}
.startGame {
    width: 270px;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    font-family: 'Cairo', sans-serif;
    border: groove rgb(77,49,28) 2px;
    border-radius: 10px;
    padding: 5px
}
.rps-tool {
    width:150px;
    display: inline-block;
}
.icons-1,.icons-2,.player1,.player2,.gameOver-container {
   text-align: center
}
#seat1,#seat2 {
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    font-family: 'Cairo', sans-serif;
    border: groove rgb(77,49,28) 2px;
    border-radius: 10px;
    padding: 5px
}
.gameOver,.score, {
    display: inline-block
}
.chat-input {
    display: inline-block;
    margin-top: 5px
}
.chat-display {
    height:130px;
    border: rgb(76,49,49) 2px groove;
    overflow: auto;
    text-align: left
}
#add-message {
    display: inline-block
}
.chat-window {
    margin-bottom: 10px;
    text-align: center
}